<!DOCTYPE html>
<html>
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Decision Maker</title>
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/src/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" asp-append-version="true"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.teal-red.min.css" asp-append-version="true" />
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
