body {
    color: #222;

    h1 {
        color: #5e59b7;
    }

    p {
        font-size: 20px;
    }

    .help-text {
        font-size: 20px;
    }

    select {
        margin-bottom: 20px !important;
    }

    .welcome {
        background-color: #e8e8e8;
        max-width: 600px;
        border-radius: 550px;
        padding-left: 100px;
        padding-top: 175px;
        padding-bottom: 175px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .edit-able {
        border: 1px solid rgba(255, 255, 255, 0);
    }

    .edit-able-lg {
        border: 1px solid rgba(255, 255, 255, 0);
        font-size: 30px !important;
    }

    .mdl-textfield__input {
        font-size: 25px;
    }

    .mdl-checkbox {
        min-width: 50px;
        max-width: 100px;
        height: 40px;
    }

    .mdl-checkbox__box-outline {
        box-sizing: border-box;
        width: 25px;
        height: 25px;
        border: 3px solid rgba(0,0,0,.54);
        border-radius: 5px;
        z-index: 2;
    }

    .mdl-checkbox__ripple-container {
        width: 45px;
        height: 45px;
    }

    .mdl-button {
        border-radius: 7px;
        margin: 0;
        padding: 33px 20px 33px 20px;
        font-size: 18px;
        text-transform: unset;
        transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
        line-height: 5px;
        vertical-align: middle;
    }

    button:hover {
        background-color: #5e59b7 !important;
    }
}
