<div *ngIf="options.length">
    <h2>Consider your Options</h2>
    <div *ngFor="let option of options" class="input-group input-group-lg">
        <div class="col-lg-6">
            <label for="optionName">Option:</label>
            <input type="text"
                   (keyup)="setOptions()"  
                   [(ngModel)]="option.name" 
                   id="optionName" 
                   class="form-control" 
                   required/>&nbsp;
        </div>
        <div class="col-lg-6" *ngIf="goals.length">
            <div *ngFor="let goal of goals">
                <label for="optionName">{{goal.name}}</label>
                <input type="checkbox" 
                       (keyup)="setOptions()"
                       value="{{goal.name}}"
                       id="goalName"/>
            </div>
        </div>
        <br />
    </div>
    <button type='button'
            (click)="confirm()"
            class="btn btn-success btn-lg">
        Set Options
    </button>
</div>

<div *ngIf="!options.length">Can't contact options service!</div>