<div *ngIf="options.length">
    <h2>Consider your Options</h2>
    <div *ngFor="let option of options" class="input-group input-group-lg center-block text-center">
        <div class="col-lg-4">
            <mdl-textfield type="text"
                           (keyup)="setOptions()"  
                           [(ngModel)]="option.name" 
                           id="optionName"
                           label="Option" 
                           required>
            </mdl-textfield>
        </div>
        <div class="col-lg-8" *ngIf="chosenGoals.length">
            <span *ngFor="let goal of chosenGoals; let i = index;" >
                <mdl-checkbox type="checkbox"
                              value="false"
                              [(ngModel)]="option.metGoals[i]"
                              id="goalName">
                    {{goal.name}}
                </mdl-checkbox>
            </span>
        </div>
    </div>
    <button type='button'
            (click)="confirm()"
            class="btn btn-success btn-lg">
        Set Options
    </button>
</div>

<div *ngIf="!options.length">Can't contact options service!</div>