<div class="container">
    <header>
        <div *ngIf="decision">           
            <div class="input-group input-group-lg col-lg-4">
                <input type="text" [(ngModel)]="decision.name" class="form-control edit-able-lg" />
            </div>
        </div>
    </header>
    <div class="navbar">
        <ul class="nav navbar-nav">
            <li class="toolbar-item">
                <a routerLink="start-deciding" routerLinkActive="active">
                    Start
                </a>
            </li>
            <li class="toolbar-item">
                <a routerLink="evaluating-goals" routerLinkActive="active">
                    Evaluating Goals
                </a>
            </li>
            <li class="toolbar-item">
                <a routerLink="considering-options" routerLinkActive="active">
                    Considering Options
                </a>
            </li>
            <li class="toolbar-item">
                <a routerLink="resolution" routerLinkActive="active">
                    Resolution
                </a>
            </li>
        </ul>
    </div>
    <div class="container">
        <router-outlet></router-outlet>
        <br />
        <br />
    </div>
    
    <br />
    <p><strong>Event Messages</strong></p>
    <div *ngFor="let message of history">
        <p>{{message}}</p><br />
    </div>
    
    <a routerLink="/">Home</a>
</div>
