<div *ngIf="goals.length" class="center-block text-center">
    <h2>Evaluate your Goals</h2>
    <div class="input-group input-group-lg center-block text-center col-lg-4">
        <div *ngFor="let goal of goals">
            <div class="col-lg-6">
                <label for="goalName">Goal</label>
                <input type="text" 
                       [(ngModel)]="goal.name"
                       (keyup)="setGoals()" 
                       id="goalName" 
                       class="form-control"
                       required/>&nbsp;
            </div>
            <div class="col-lg-6">
                <label for="goalRank">Importance</label>
                <select [(ngModel)]="goal.rank"
                        (click)="setGoals()"
                        id="goalRank" 
                        class="form-control"
                        required>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
            </div>
        </div>
        <br />
        <button type='button'
                (click)="confirm()"
                class="btn btn-success btn-lg">
            Set Goals
        </button>
        <br />
    </div>

    <div class="help-text">
        <p>Add three goals that you'd like to achieve in your decision and rank their importance.</p>
    </div>
    
    <button type='button' (click)="autoFill()" class="btn btn-default btn-lg">Autofill</button>
</div>

<div *ngIf="!goals.length">No goals found!</div>
