<div *ngIf="goals.length" class="center-block text-center">
    <div class="help-text">
        <strong>Three goals that you'd like to achieve in making your decision.</strong>
    </div>
    <br/>
    <br />
    <div class="input-group input-group-lg center-block text-center col-lg-6">
        <div *ngFor="let goal of goals">
            <div class="col-lg-6">
                <mdl-textfield type="text"
                               [(ngModel)]="goal.name"
                               (keyup)="setGoals()" 
                               id="goalName" 
                               label="Goal"
                               required
                               floating-label>&nbsp;
                </mdl-textfield>
            </div>
            <div class="col-lg-6">
                <label for="goalRank">Importance</label>
                <select [(ngModel)]="goal.rank"
                        (click)="setGoals()"
                        id="goalRank" 
                        class="form-control"
                        required>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
            </div>
        </div>
        <button type='button' (click)="confirm()" mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple>
            Set Goals
        </button>
    </div>
    <br/>
    <button type='button' (click)="autoFill()" mdl-button mdl-button-type="raised" mdl-ripple>
        Autofill
    </button>
</div>

<div *ngIf="!goals.length">No goals found!</div>
