<div *ngIf="decision" class="center-block text-center">
    <div class="help-text">
        <p>What are deciding?</p>
    </div>
    <br/>
    <div class="input-group input-group-lg center-block text-center col-lg-4">
        <input type="text"
               [(ngModel)]="decision.name"
               (keyup)="setName()"
               (keyup.enter)="confirm()"
               placeholder="Ex. Buying a House"
               class="form-control"
               required/>&nbsp;
        <br/>
        <button type='button'
                (click)="confirm()"
                class="btn btn-success btn-lg">
            Name Decision
        </button>
    </div>
</div>

<div *ngIf="!decision" class="alert-danger">Can't contact either decision API or service properly!</div>