<div *ngIf="decision" class="center-block text-center">
    <div class="help-text">
        <strong>What are deciding?</strong>
    </div>
    <br/>
    <div class="input-group input-group-lg center-block text-center col-lg-4">
        <mdl-textfield type="text"
                        [(ngModel)]="decision.name"
                        (keyup)="setName()"
                        (keyup.enter)="confirm()"
                        label="Decision Name (Buying a Car)"
                        required>
        </mdl-textfield>
        <br />
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                (click)="confirm()"
                type="submit">
            Name Decision
        </button>
    </div>
</div>

<div *ngIf="!decision" class="alert-danger">Can't contact either decision API or service properly!</div>


